<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Accueil",   '#' %></li>
        <li><%= link_to "Index des gossips",   '#' %></li>
        <li><%= link_to "Nouveau gossip", '#' %></li>
      </ul>
    </nav>
  </div>
</header>
